<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../../static/css/styles.css">
    	<link rel="icon" type="star/png" href="../../static/img/star.png">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;1,400;1,700&display=swap" rel="stylesheet">
		<title>Ansar's</title>
	</head>
	<body>
		<div class="hero1"></div>
		<div class="header">
			<div class="wrapper">
				<div class="header-content">
					<header>
						<nav>
							<details open>
								<summary>
									Introducción
								</summary>
								<ol>
									<li>
										<a href="index.html">INICIO</a>
										<ul class="wrapper-content">
											<li>
												<a href="#introduccion">INTRODUCCION</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="catalogo.html">CATALOGO</a>
									</li>
									<li>
										<a href="#conocenos">CONOCENOS</a>
									</li>
									<li>
										<a href="contactenos.html">CONTÁCTENOS</a>
										<!-- <ul class="wrapper-content">
											<li>
												<a href="#hablemos">HABLEMOS</a>
											</li>
										</ul> -->
									</li>
								</ol>
							</details>
						</nav>
					</header>
				</div>
			</div>
		</div>
		<main class="main">
			<div class="wrapper">
				<div class="main-content">
					<table cellpadding="0" cellspacing="0" width="850px">
						<tr>
							<td>
								<h1>ANS<img src="../../static/icons/20240820_112847164.png" height="60" class="rotar">R'S</h1>
							</td>
						</tr>
					</table>
					<section class="section-content">
						<h3 id="conocenos">CONOCENOS</h3>
						<p>Todos nuestros productos FOMI están elaborados con un material que recibe el nombre técnico y comercial de EVA o Goma EVA, que proviene de la abreviación de sus componentes químicos: ETILENO VINIL ACETATO. Este es un polímero termoplástico conformado por unidades repetitivas de etileno y acetato de vinilo.</p>
						<pre>
El propósito de la presente 
investigación es determinar 
que nuestros productos pueden
ayudar a implementar el lado
detallista de las personas 
y que puedan ver como de un
material como el fomi, puedan
salir cosas tan hermosas hechas
a mano.

Con esto se puede deducir que
al fomi se le puede dar una
utilidad como por ejemplo 
haciendo algunos detalles para
regalar en ciertos días especiales  
o simplemente para cada uno.
<img src="../../static/img/sapo_cartu.png">
						</pre>
						<p>Son productos hechos a mano y con dedicación, son cosas útiles hechas en fomi. Los usuarios pueden ver cada producto y si le interesa, poder comprarlo, sirven para ocasiones especiales o simplemente por gustos. Son accesibles para cada persona.  </p>
					</section>
					<footer>
                        ESPACIO PARA TODO EL MUNDO
                        <br>
                        Arborizadora Baja, Bogotá - 3028618162
                        <br>
                        Todos los derechos reservados © 2024 - SARA GOMEZ, LOREN BALLESTEROS Y ANA NIÑO
                        <br>
                        ANSAR'S
                    </footer>
				</div>
			</div>
		</main>
	</body>
</html>