<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../../static/css/styles.css">
    	<link rel="icon" type="star/png" href="../../static/img/star.png">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;1,400;1,700&display=swap" rel="stylesheet">
		<title>Ansar's</title>
	</head>
	<body>
		<div class="hero1"></div>
		<div class="header">
			<div class="wrapper">
				<div class="header-content">
					<header>
						<nav>
							<details open>
								<summary>
									Introducción
								</summary>
								<ol>
									<li>
										<a href="index.html">INICIO</a>
										<ul class="wrapper-content">
											<li>
												<a href="#introduccion">INTRODUCCION</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="catalogo.html">CATALOGO</a>
									</li>
									<li>
										<a href="conocenos.html">CONOCENOS</a>
									</li>
									<li>
										<a href="#contactenos">CONTÁCTENOS</a>
										<!-- <ul class="wrapper-content">
											<li>
												<a href="#hablemos">HABLEMOS</a>
											</li>
										</ul> -->
									</li>
								</ol>
							</details>
						</nav>
					</header>
				</div>
			</div>
		</div>
		<main class="main">
			<div class="wrapper">
				<div class="main-content">
					<table cellpadding="0" cellspacing="0" width="850px">
						<tr>
							<td>
								<h1>ANS<img src="../../static/icons/20240820_112847164.png" height="60" class="rotar">R'S</h1>
							</td>
						</tr>
					</table>
					<section class="section-content">
						<h3 id="contactenos">CONTÁCTENOS</h3>
						<p>Si está interesado en comprar nuestros productos, no dude en ponerse en contacto con nosotros.</p>
						<article>
							<form class="form">
								<div class="form-content">
									<label for="form-name">
											Nombre Completo
											<input required name="name" id="form-name" type="text" placeholder="Nombre">
									</label>
									<label for="form-name">
											Correo Electrònico
											<input required name="email" id="form-name" type="email" placeholder="Email">
									</label>
									<label for="form-name">
											Mensaje
											<textarea required name="message" placeholder="Mensaje" id="form-message" cols="30" rows="7"></textarea>
									</label>
									<button class="button" type="submit">Envia mensaje</button>
								</div>
							</form>				
						</article>
					</section>
					<footer>
                        ESPACIO PARA TODO EL MUNDO
                        <br>
                        Arborizadora Baja, Bogotá - 3028618162
                        <br>
                        Todos los derechos reservados © 2024 - SARA GOMEZ, LOREN BALLESTEROS Y ANA NIÑO
                        <br>
                        ANSAR'S
                    </footer>
				</div>
			</div>
		</main>
	</body>
</html>