<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/styles.css">
    <link rel="icon" type="star/png" href="../../static/img/star.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <title>Ansar's</title>
</head>
<body>
    <article class="article">
        <h2 class="subtitulo" id="Pedido">
            <strong>DETALLES DEL PEDIDO</strong>
        </h2>
        <div class="section-content">
            <h3>Información de tu pedido.</h3>
            <form class="form">
                <input type="text" required placeholder="Destinatario" name="Destinatario">
                <input type="text" required placeholder="Ciudad Del Destinatario" name="Ciudad Del Destinatario">
                <input type="text" required placeholder="Dirección Del Destinatario" name="Dirección del Destinatario">
                <input type="text" required placeholder="Detalles Adicionales Al Pedido" name="Detalles Adicionales Al Pedido">
                <button class="registrarse1" onclick="window.location.href='catalogo.html'">Realizar Pedido</button>
            </form>
        </div>              
    </article>
</body>
</html>