<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href={{url_for('static', filename='css/styles.css')}}> -->
    <link rel="stylesheet" href="../../static/css/styles.css">
    <link rel="icon" type="star/png" href="../../static/img/star.png">
    <!-- <link rel="icon" type='star/png' href={{url_for('static', filename='img/star.png')}}> -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <title>Ansar's</title>
</head>
<body>
    <article class="article">
        <h2 class="subtitulo" id="ingreso">
            <strong>REGISTRO</strong>
        </h2>
        <div class="section-content">
            <h3>Ingresa a nuestro website</h3>
            <form class="form" action='{{url_for('registrarForm')}}' method="POST" autocomplete="off">
                <form class="form">
                    <input type="text" required placeholder="Nombre" name="nomb">
                    <input type="text" required placeholder="Apellido" name="apel">
                    <!-- <label for="tipo-identificacion">Tipo de Identificación:</label> -->
                    <select class="tipo-identificacion" name="tipo">
                            <option value="  " disabled selected>Tipo de Identificación</option>
                            <option value="CC">C.C.</option>
                            <option value="TI">T.I.</option>
                            <option value="PS">P</option>
                            <option value="CE">C.E.</option>
                    </select>
                    <input type="number" required placeholder="Numero De Identificación" name="iden">
                    <input type="email" required placeholder="Correo Electrónico" name="emai">
                    <input type="password" required placeholder="Contraseña" name="pass">
                    <input type="password" required placeholder="Confirmar Contraseña">
                    <select class="tipo-identificacion" name="rol">
                        <option value=" " disabled selected>Rol</option>
                        <option value="A">Administrador</option>
                        <option value="U">Usuario</option>
                </select>
                    <input type="number" required placeholder="Numero De Contacto" name="tele">
                    <input type="text" required placeholder="Ciudad" name="ciud">
                   <!-- <button class="registrarse1" onclick="window.location.href='ingreso.html'">Enviar Datos</button> -->
                    <input type='submit' value='Registro'>
                </form>
            </form>
        </div>              
    </article>
</body>
</html>